.column-feed {
    padding: 0;
    margin: auto 0.5%;
    float: left; 
}

img {
    margin: 0 0 5% 0;
    padding: 0;
    float: left;
    width: 100%;
    clear: both;
}

.image-card:hover img {
    filter: brightness(80%)
}