* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: transparent !important;
}

.swiper-slide {
    border-bottom: 4px solid transparent;
}

.clickable-button {
    padding: 0 !important;
    background: unset !important;
    border: unset !important;
}

#carouselExampleDark .swiper-slide-active {
    border-bottom: 4px solid white;
}

#carouselExampleDark .swiper-slide-active button {
    font-size: 60px;
}

.project-card:hover img {
    filter: brightness(80%);
}

.dropdown-toggle::after {
    margin-left: .5em;
}

.nav-item {
    font-weight: 600;
}

.form-control {
    border-radius: 3px !important;
    min-height: 50px;
    border: 1px solid #E28800;
}

.form-control::placeholder {
    color: #969693;
    font-weight: 700;
}


ul[role='navigation'] {
    display: flex;
    gap: 10px;
}

ul[role='navigation'] li {
    color: white;
    min-width: 40px;
    min-height: 40px;
    padding: .5em 1em;
    font-weight: 700;
    display: flex; justify-content: center; align-items: center;
}
ul[role='navigation'] li a {
    text-decoration: unset !important;
    color: var(--tertiary);
}

ul[role='navigation'] li.selected {
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--tertiary) 
}


.search-function select {
    min-height: 40px !important;
}

.detail-image-show {
    cursor: pointer;
    border: 4px solid transparent;
}

.detail-image-show.not-selected {
    filter: brightness(.5);
}

.detail-image-show:hover {
    border-color: var(--primary) !important;
    filter: brightness(.75);
}



.timeline-company-scrollbar::-webkit-scrollbar {
    /* width: 10px; */
    height: 0 !important;
    -webkit-overflow-scrolling: touch;
}  

.timeline-scrollbar::-webkit-scrollbar {
    /* width: 10px; */
    height: 3px;
    -webkit-overflow-scrolling: touch;
}  

.timeline-scrollbar::-webkit-scrollbar-track {
    background: black;
} 
.timeline-title-hover:hover {
    color: var(--primary);
}
.timeline-event .text {
    visibility: hidden;
}

.timeline-event.active .text {
    visibility: visible;
}


/* -------------------------------------- */
.service-nav {
    gap: 20px 10px;
}
.service-nav .clickable-button {
    /* font-size: 28px; */
    font-weight: 400;
}
.service-nav .clickable-button:hover, .service-nav .active .clickable-button{
    color: var(--primary) !important;
    font-weight: 700;
    /* font-weight: 600; */
}

.service-nav div div {
    opacity: 0;
}
.service-nav div:hover div, .service-nav .active div {
    opacity: 1 !important;
}
/* ---------------------------------------- */


.scroll-no-scrollbar {
    scrollbar-color: #0A4C95 #C2D2E4;
    scrollbar-width: none;
}

.scroll-no-scrollbar::-webkit-scrollbar {
    height: 0 !important;
    width: 0 !important;
} 

.ql-editor {
    scrollbar-width: none;
}


/* ------------------------ */
.h1 {
    font-size: 48px !important;
}

.h2 {
    font-size: 32px !important;
}

.h2-half {
    font-size: 28px !important;
}

.h3 {
    font-size: 24px !important;
}

.h4 {
    font-size: 16px !important;
}

.h5 {
    font-size: 14px !important;
}

 
.swiper-button-next::after {
    color: black !important; 
    font-size: 20px !important;
    z-index: 9999;
}
.swiper-button-prev::after {
    color: black !important; 
    font-size: 20px !important;
    z-index: 9999;
    
}





.text-on-hover-scale:hover, .text-on-hover-scale.active {
    font-weight: bolder;
} 

.search-project {
    background: unset;
    border: unset;
    box-shadow: unset;
    padding: .5em;
    text-align: right;
}

.search-project:focus {
    outline: none !important; 
}

.search-project:focus {
    border: unset !important;
}

  





.skeleton {
    padding:15px; 
    width: 100%;  
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skeleton .square {
    height: 250px;
    border-radius: 5px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-squares 2s infinite ease-out;
}
.skeleton .line {
    height: 12px;
    margin-bottom:6px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
}
.skeleton-right{
   flex:1;
}
.skeleton-left{
   flex:2;
   padding-right:15px;
}
.flex1{
   flex: 1;
}
.flex2{
   flex: 2;
}
.skeleton .line:last-child{
   margin-bottom: 0;
}
.h8{
   height: 8px !important;
}
.h10{
   height: 10px !important;
}
.h12{
   height: 12px !important;
}
.h15{
   height: 15px !important;
}
.h17{
   height: 17px !important;
}
.h20{
   height: 20px !important;
}
.h25{
   height: 25px !important;
}
.w25{
   width: 25% !important
}
.w40{
   width:40% !important;
}
.w50{
   width: 50% !important
}
.w75{
   width: 75% !important
}
.m10{
   margin-bottom: 10px !important;
}
.circle{
   border-radius: 50% !important;
    height: 80px !important;
    width: 80px;
}
@keyframes wave-lines {
   0% {
       background-position: -468px 0;
   }
    100% {
       background-position: 468px 0;
   }
}
@keyframes wave-squares {
   0% {
       background-position: -468px 0;
   }
    100% {
       background-position: 468px 0;
   }
}
