:root {
    --primary: #615651;
    --secondary: #E0BEA5;
    --tertiary: #BB9D79;
    --quartenary: #E4E3E3;
    --success: #62CE71;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary) !important; 
    border-color: var(--primary) !important; 
}

.text-primary {
    color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.btn-secondary {
    border: 1px solid var(--tertiary);
    background-color: var(--secondary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.btn-tertiary {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}
.text-tertiary {
    color: var(--tertiary) !important;
}

.bg-quartenary {
    background-color: var(--quartenary) !important;
}

.nav-link {
    color: var(--tertiary);
}

.btn-success {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}





/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--tertiary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}