.horizontal-timeline {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  z-index: 9999;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.timeline-container { 
  transition: transform 0.3s ease; 
}

.timeline-event {
  /* display: inline-block;  */
  text-align: center;
  padding: 10px;
  /* margin-right: 20px; */
}

.event-date {
  font-weight: normal !important;
  margin-bottom: 5px;
}

.event-description {
  color: #555;
}